<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海罗千旅游网_小鼻嘎旅游官方网_跟团游_自由行_国内游_出境游_周边游</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/iconfont/iconfont.css">

</head>
<body>
    <!-- 顶部开始-->
    <div class="header">
        <div class="wrap">
            <div class="logo">
                <a href="/">
                <img src="../static/image/logo.png" alt="">
<!--                <span class="logo-name">小鼻嘎旅游</span>-->
<!--                <span class="logo-site">www.xbgtour.com</span>-->
            </a>
            </div>
            <div class="search-box">
                <input type="text" placeholder="搜索任何旅游相关">
                <button class="iconfont">&#xe63d;</button>
            </div>
            <div class="header-nav">
                <ul>
                    {% if 'user_id' in session %}
                    <li class="logi-selected"><a href="/user/{{ session['user_id'] }}"><i class="iconfont">&#xe65d;</i>{{ session['username'] }}</a></li>
                    <li class="logi-selected"><a href="/logout"><i class="iconfont">&#xe60c;</i>退出</a></li>
                    {% else %}
                    <li class="logi-selected"><a href="/login"><i class="iconfont">&#xe65d;</i>登录</a></li>
                    <li class="logi-selected"><a href="/register"><i class="iconfont">&#xe65c;</i>注册</a></li>
                    {% endif %}
                    <li><i class="iconfont">&#xe605;</i>在线客服</li>
                    <li><i class="iconfont">&#xe525;</i>400-820-6222</li>

                </ul>
            </div>
        </div>
    </div>
    <!-- 顶部结束-->

    <!-- 菜单盒开始-->
    <div class="menu-nav">
        <div class="wrap">
            <div class="main">
                <ul>
                    <li class="selected"><a href="#">热门目的地</a></li>
                    <li class="shouye"><a href="/plane_ticket">机票</a></li>
                    <li><a href="/hotel">酒店</a></li>
                    <li><a href="/tour">跟团游</a></li>
                    <li><a href="/catering">餐饮</a></li>
                    <li><a href="/travel_guide">攻略</a></li>
                    <li><a href="/daoyou">找导游</a></li>
                </ul>
            </div>
<!--            <div class="login">-->
<!--                <ul>-->
<!--                    <li><a href="/logo">登录</a></li>-->
<!--                    <li><a href="/register">注册</a></li>-->
<!--                </ul>-->
<!--            </div>-->
        </div>
    </div>
    <!-- 菜单盒结束-->
    <!-- 广告盒子开始-->
    <div class="banner">
        <div class="wrap">
            <img class="banner-img" src="../static/image/banner.jpg" style="width: 100%">
            <div class="slide">
                <ul>
<!--                    <li><a href="#">当季主推<i class="iconfont">&#xe621;</i></a></li>-->
<!--                    <li><a href="#">自由行<i class="iconfont">&#xe621;</i></a></li>-->
<!--                    <li><a href="#">跟团游<i class="iconfont">&#xe621;</i></a></li>-->
<!--                    <li><a href="#">出镜游<i class="iconfont">&#xe621;</i></a></li>-->
<!--                    <li><a href="#">国内游<i class="iconfont">&#xe621;</i></a></li>-->
<!--                    <li><a href="#">邮轮游<i class="iconfont">&#xe621;</i></a></li>-->
                    <li>
                        <h3>当季主推<i class="iconfont">&#xe621;</i></h3>
                        <a href="#">长白山</a>
                        <a href="#">三亚</a>
                        <a href="#">泰国</a>
                    </li>
                    <li>
                        <h3>自由行<i class="iconfont">&#xe621;</i></h3>
                        <a href="#">厦门</a>
                        <a href="#">重庆</a>
                        <a href="#">成都</a>
                    </li>
                    <li>
                        <h3>跟团游<i class="iconfont">&#xe621;</i></h3>
                        <a href="#">新疆</a>
                        <a href="#">内蒙古</a>
                        <a href="#">云南</a>
                    </li>
                    <li>
                        <h3>出镜游<i class="iconfont">&#xe621;</i></h3>
                        <a href="#">泰国</a>
                        <a href="#">日本</a>
                        <a href="#">韩国</a>
                    </li>
                    <li>
                        <h3>国内游<i class="iconfont">&#xe621;</i></h3>
                        <a href="#">三亚</a>
                        <a href="#">云南</a>
                        <a href="#">桂林</a>
                        <a href="#">庆阳</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- 广告盒子结束-->
    <!-- 自由行盒子开始-->
    <div class="freewalk-box">
        <div class="wrap">
            <h2>自由行</h2>
            <ul>
                <li class="jx-selected"><a href="#">精选</a></li>
                <li><a href="#">三亚</a></li>
                <li><a href="#">长白山</a></li>
                <li><a href="#">重庆</a></li>
                <li><a href="#">厦门</a></li>
            </ul>
            <div class="show">
                <ul>
                    <li>
                        <a href="#">
                            <img src="../static/image/tour_img/cq.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="cq-tour">
                            重庆宾顿朗逸酒店双飞4日3晚自由行（解放碑洪崖洞店+含早餐 步行可抵达八一路好吃街+长江索道+洪崖洞吊脚楼群）
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">
                            <img src="../static/image/tour_img/tg.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="cq-tour">
                            【地理位置优】泰国普吉岛6日5晚自由行（安达曼拥抱芭东精英阳台房5晚+步行芭东海滩酒吧街10分钟+酒店新装修）
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!-- 自由行盒子结束-->
    <!-- 页脚盒子开始-->
    <div class="footer">
        <div class="footer-wrap">
            <div class="footer-link">
                <p class="copyright">
                    <span>Copyright ©2024 XBGTOUR.com</span>
                    <a>京公网安备11010802030542</a>
                    <a>京ICP备05021087号</a>
                    <a>京ICP证060856号</a>
                    <a>营业执照信息</a>
                    <a>互联网药品信息服务资格证：(京)-非经营性-2016-0110</a>
                    <a>举报、投诉邮箱: tousu@qunar.com</a>
                    <a>全国旅游投诉热线: 12345</a>
                </p>
                <p class="copyright">
                    <span>未成年人/违法和不良信息/算法推荐举报电话：010-59606977</span>
                    <span>未成年人/违法和不良信息/算法推荐举报邮箱：tousu@qunar.com</span>
                </p>
                <ul>
                    <li>
                        <img src="https://s.qunarzz.com/f_cms/2022/1642594269680_633725513.png" width="66px" height="30px">
                    </li>
                    <li>
                        <img src="https://s.qunarzz.com/hf/approve/globalsign.gif" width="66px" height="30px">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 页脚盒子结束-->

</body>
</html>